.App {
  text-align: center;
  background-image: url('./assets/images/bg.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

.menu {
  font-family: 'Calibri';
  font-size: 18px;
  display: inline-block;
  padding: 10px;
}

.menu:hover {
  background-color: yellow;
  color: black;
}

.header {
  text-align: center;
  background-color: #edf3f3;
  padding: 20px;
}
